[submodule "dryad-engine"]
	path = dryad-engine
	url = https://github.com/nevals-wandervals/dryad-engine.git
[submodule "dryad-web-client"]
	path = dryad-web-client
	url = https://github.com/nevals-wandervals/dryad-web-client.git
